flask
flask-cors
flask-sock
python-dotenv
gunicorn
gevent
gevent-websocket
aiohttp
websockets
google-cloud-speech
openai
brainflow

pandas
scipy

opencv-python-headless>=4.9.0.80
ultralytics>=8.0.0
torch>=2.0.0
torchvision>=0.15.0
numpy>=1.23.0
