@import "tailwindcss";

@theme {
  --color-custom-orange: #fea86f;
  --color-custom-pink: #ffdef3;
}

@layer base {
  html, body, #root {
    @apply h-full w-full m-0 p-0;
  }
  
  /* Hide scrollbar across all browsers */
  * {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  
  *::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}
